.profileImg {

    margin-top: 5%;
    text-align: center;
}

.profileImg p {

    margin: 3%;
    font-size: 100%;
    word-wrap: break-word;  
}

.jumbotron {

    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.container .jumbotron {

    border-top-left-radius: 0px;
}

body {

    background-color: #F5F5F5;
}

.main {

    margin: 3% 3%;
}

.nav-tabs {

    margin-bottom: 0px;
    cursor: pointer;
}

.nav-tabs img {

    float: right;
}

#openTerminal {

    margin: 8px 0px 0px 12px;
}

#facebook {

    margin: 7px 0px 0px 12px;
}

#github {

    margin: 7px 0px 0px 12px;
}

.nav-tabs img:hover {

    opacity: 0.5;
}

.content {

	line-height: 180%;
}

.content p {

	font-size: 111%;
}

.blogIndex ul {

    list-style-type: none;
}

.blogIndex li {

    margin-top: -1%;
}